@font-face {
	font-family: 'Raleway';
	src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap);
	font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif, Arial, sans-serif;
}

main{
	width: 992px;
	margin: auto;
}	
																				/*Header*/
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

#logo img{
	width: 120px;
	height: auto;
	margin-left: 15%;
}

#logo{
	display: flex
}

header nav a{
	color: black;
	text-decoration: none;
	font-size: 13px;
}

header nav ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

header nav li{
	margin-left: 20px;
	margin-right: 20px;
}
																			/*Fin Header*/

																			/*Accroche*/

#textbloc{
	display: flex;
	flex-direction: column;
	width: 50%;
	}

#textbloc h4{
	margin-bottom: 0px;
	
}

#textbloc p{
	margin-top: 5px;
	font-size: 13px;
}

																			/*Fin Accroche*/

#recherche{
	width: 30%;
	flex-flow: column nowrap;
	font-weight: bold;
	width: 40%;
}
form{
	display: flex;
	height: 40px;
	margin-left: 5px;
	margin-bottom: 10px;
	
}
form label{
	display: flex;
	width: 50px;
	justify-content: center;
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 30% 0% 0% 30%;
}
button{
	background-color: #0065FC;
	color: white;
	padding: 12px;
	border: #0065FC;
	border-radius: 0px 10px 10px 0px;
	font-family: 'Raleway', sans-serif, Arial, sans-serif;

}

#rechercher{
	display: flex;
	border: none;
	font-weight: bold;
	margin-left: 7px;
	font-family: 'Raleway', sans-serif, Arial, sans-serif;
}


																		/*Partie Filtre*/
#filtres{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 75%;
	height: 30px;
}

#filtres p{
	font-weight: bold;
	font-size: 0.9em;
	margin: 5px 10px 5px 10px;
	
}

.bouton{
	display: flex;
	justify-content: center;
	align-items: center;
	border: lightgray solid 1px;
	border-radius: 45px;
	margin: 5px 10px 5px 10px;
	height: 30px;
}

a.bouton:hover{
	box-shadow: #0065FC 5px 5px 15px;
	transition: 0.6s;
}

.imgco{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 15px;
	margin: auto;
	width: 30px;
	height: 30px;
}

																		/*Fin Partie Filtre*/				

#loge{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 15px;
}

#logoinfo{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	border-radius: 45px;
	border: lightgray solid 0.8px;
    width: 17px;
    height: 17px;
    font-size: 10px;
}

#loge p{
	font-size: 12px;
	margin-left: 5px;
}

																			/*Section 1*/	
#part1{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	
}

																	/*Bloc "Hébergement à Marseille"*/																	
#blocheb{
	display: flex;
    flex-flow: row wrap;
	justify-content: space-between;
	background-color: #F2F2F2;
	width: 69%;
	border-radius: 10px;
	padding: 10px;
}

#titreheb{
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 90%;
	margin-bottom: -10px;
}

.hotelheb{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	background-color: white;
	width: 210px;
	height: 150px;
	border-radius: 10px;
	box-shadow : 3px 3px 2px lightgray;
}

.hotelheb img{
	margin: auto;
	width: 95%;
	height: 70px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

.textheb{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	}

.textheb h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

.textheb p{
	font-size: 0.7em;
	margin: 2px;
}

#blocheb h5{
	margin-top: auto;
	margin-bottom: auto;

}

																/* Fin Bloc "Hébergement à Marseille"*/

																			/* Gestion lien a"*/
a{
	text-decoration: none;
	color: black;
}
																		/* Fin Gestion lien a"*/

																	/*Bloc "Les plus populaires"*/	
#blocpopu{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #F2F2F2;
	width: 27%;
	height: 410px;
	border-radius: 10px 0px 0px 10px;
}

#titrepopu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-bottom: -40px;
	}

.hotelpopu{
	display: flex;
	align-items: center;
	background-color: white;
	width: 90%;
	height: 90px;
	border-radius: 10px;
	box-shadow : 3px 3px 2px lightgray;
	}

.hotelpopu img{
	display: flex;
	margin-left: 5px;
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 10% 0% 0% 10%;

}

.textpopu{
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-left: 10px;
	margin-top: 0px;
}

.textpopu h5{
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: auto;
}

.textpopu p{
	font-size: 0.7em;
	margin-top: auto;
	margin-bottom: 20px;
}
																/*Fin Bloc "Les plus populaires"*/

																				/*Etoile*/
.bluestars{
	color: #0065FC;
	font-size: 0.6em;
	margin-top: px;
}
.greystars{
	color: lightgrey;
	font-size: 1em;
	margin-top: px;
}
																			/* Fin Etoile*/

																		/*Fin Bloc "Les plus populaires"*/	

																			/*Fin Section 1*/	

																			/* Section 2*/

#part2 h4{
	margin-bottom: 1%;
	}

.portrait{
	display: flex;
	flex-direction: column;
	width: 225px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 3px 3px 2px lightgrey;
	background-color: white ;
}

.portrait img{
	display: flex;
	width: 225px;
	height: 260px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

.paysage{
	display: flex;
	flex-direction: column;
	width: 225px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 3px 3px 2px lightgrey;
	background-color: white ;
}

.paysage img{
	display: flex;
	width: 225px;
	height: 100px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

table h5{
	margin: 10px 10px 10px 10px;
}

table{
	margin: auto;
	width: 100%;
	margin-bottom: 3%;
}

																		/*Fin Section 2*/

																			/*Footer*/
footer{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	padding: 10px;
}

footer nav ul{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	width: 300px;
	padding: 0px 0px 0px 20px;
}

footer nav li{
	margin-right: 20px;
	margin-top: 15px ;
}

footer h3{
	margin-top: 5px;
	margin-bottom: 10px;

}
footer nav a{
	color: black;
	text-decoration: none;
}
																		/*Fin Footer*/

																		/*mediaQueries*/																	
@media all and (max-width: 992px){
	footer{
		display: flex;
		flex-direction: column;
		width: fit-content;
	}
}